<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="BingToken" value="zKSh7eF3PEfo2RbcD9Z6~ziHYko0B1QGwHXBQo8QMfg~AlHXtmdyURnhsXXAzAyNveS6wjdDJTolk90qtKeDBQoFiEy_52cL8MsLdeksAY6O"/>
    <add key="ServerIp" value="192.168.1.1"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>